<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="image/Shadow image.jpg" alt="Suvaidyam" class="img-fluid" title="Suvaidyam Tech">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text_clr">Mern Stack Developer</span> Youtube And A Freelancer</h1>
                        <a href="https://getbootstrap.com/"> <button>About Me</button></a>
                    </div>
                    <!--right side div -->


                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->
    <footer>
        <p>Created with Suvaidyam Tech</p>
    </footer>

</body>

</html>