<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">

                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Thursday</p>
                        <p id="today_data">09 Jan</p>
                    </div>

                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                    </div>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span>0</span><sup>o</sup>C</p>
                        <p id="temp_status"><i class="bi bi-cloud" aria-hidden="true"></i></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->
    <footer>
        <p>Created with Suvaidyam Tech</p>
    </footer>
    <script src="js/main.js"></script>


    <script>
        const getCurrentDay = () => {
            let weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date(); // Corrected typo here
            let day = weekday[currentTime.getDay()];
            let dayElement = document.getElementById('day'); // Corrected variable name here

            dayElement.innerText = day; // Corrected variable name here
        };

        getCurrentDay();


        const getCurrentTime = () => {
            var months = [
                "Jan",
                "Feb",
                "March",
                "April",
                "May",
                "June",
                "July",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
            ];

            var now = new Date();
            var hours = now.getHours();
            var mins = now.getMinutes();

            var month = months[now.getMonth() + 1];
            var date = now.getDate();

            var period = "am";
            if (hour > 11) {
                period = "pm";
                if (hour > 12) hours -= 12;
            }
            if (mins < 10) {
                mins = "0" + mins;
            }

            return ` ${month} ${date} | ${hours}:${mins}${period}`;
        };

        getCurrentTime

        curData.innerText = getCurrentDay() + "|" + getCurrentTime();

    </script>

</body>

</html>